@model IEnumerable<cc9codefirstapproach.Models.Movie>
@{
    ViewBag.Title = "All Movies";
}

<h2>All Movies</h2>
<p>@Html.ActionLink("Add New Movie", "Create")</p>

<table>
    <tr>
        <th>Movie Name</th>
        <th>Director</th>
        <th>Date of Release</th>
        <th>Actions</th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Moviename</td>
            <td>@movie.DirectorName</td>
            <td>@movie.DateofRelease.ToShortDateString()</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = movie.Mid }) |
                @Html.ActionLink("Delete", "Delete", new { id = movie.Mid })
            </td>
        </tr>
    }
</table>
